p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    background-color: blue;
    color: white;
}

.box{
    border-left: 3px solid black;
    border-bottom: 3px dashed gray;
    text-align: center;
    font-size: 50px;
    color:blueviolet;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 30%
}

.heading{
    font-weight: bold;
    /*padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px; */
    padding: 10px;
    color:royalblue
}

.box-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px
}